
.register{
	.register_title{
		text-align: center;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 20px;
	}
	.ant-upload.ant-upload-select-picture-card{
		margin: auto!important;
	}
	.register_nav{
		display: flex;
		justify-content: flex-end;
		padding: 30px;
	}
	.register_box{
		position: absolute;
		width: 400px;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		background: #FFFFFF;
		box-shadow: 0px 4px 12px rgba(225, 228, 235, 0.5);
		padding: 30px;
		border-radius: 10px;
	}
	
	.avatar-uploader>.ant-upload {
		width: 128px;
		height: 128px;
	}
	
	.ant-upload-select-picture-card i {
		font-size: 32px;
		color: #999;
	}
	
	.ant-upload-select-picture-card .ant-upload-text {
		margin-top: 8px;
		color: #666;
	}
	.ant-row{
		display: block;
	}
	.login_btn{
		width: 100%;
	}
}