
.videoDynamic{
    display: flex;
    
    .left{
        width: 326px;
        height: 184px;
        margin-right: 10px;
        video{
            width: 100%;
            height: 100%;
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}