
// 这里的:export是为了导出样式中的变量值，不需要的可以不使用，var(–变量名，变量值）这是css中的使用方式为了后续在js更改值。


@baseColor: var(--baseColor, #4F94FA); 
@activeColor: var(--activeColor, #4F94FA);
@fontColor: var(--fontColor, #4F94FA);
@bgColor: var(--bgColor, #4F94FA);
@iconColor: var(--iconColor, #4F94FA);


:export {
    name: "less";
    baseColor: @baseColor;
    activeColor: @activeColor;
    fontColor: @fontColor;
	bgColor: @bgColor;
	iconColor: @iconColor;
}
